# --- Common settings ---
x-lsiodefaults: &lsio-defaults # Reusable template
  restart: unless-stopped
  environment:
    - PUID=${PUID}
    - PGID=${PGID}
    - TZ=${TIMEZONE}

services:

  # # Define services below
  #
  # # Other Services
  #
  # --- Home Automation ---
  domoticz:
    <<: *lsio-defaults # Use the reusable template
    image: domoticz/domoticz:${DOMOTICZ_VERSION}
    container_name: domoticz
    restart: unless-stopped
    ports:
      - "8081:8080" # Mapping to 8081 so it doesn't clash with Pi-hole/Jellyfin
    volumes:
      - ./config/domoticz:/opt/domoticz/userdata
    environment:
      - TZ=${TIMEZONE}
      - PUID=${PUID}
      - PGID=${PGID}
    # If you have a USB Zigbee/Z-Wave stick, uncomment below:
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"

  # --- Photo and Video Management ---
  immich-server:
    <<: *lsio-defaults # Use the reusable template, ignores PUID/PGID
    container_name: immich_server
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    devices:
      - /dev/dri:/dev/dri  # CRITICAL: This enables hardware acceleration for the CPU
    group_add:
      - 44
      - 992
    volumes:
      - ${MEDIA_DIR}/Photos/Immich:/usr/src/app/upload
      - ${MEDIA_DIR}/Photos/other:/mnt/external_photos
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    ports:
      - 2283:2283
    depends_on:
      - redis
      - database

  immich-machine-learning:
    <<: *lsio-defaults # Use the reusable template
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}
    volumes:
      - ./config/immich/model-cache:/cache
    env_file:
      - .env

  redis:
    <<: *lsio-defaults # Use the reusable template
    container_name: immich_redis
    #image: docker.io/redis:${REDIS_VERSION}
    image: docker.io/valkey/valkey:9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63

  database:
    container_name: immich_postgres
    #image: docker.io/tensorchord/pgvecto-rs:${DB_VERSION}
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD} # Because the devs from Immich are annoying they won't let you change the variable name to IMMICH_DB_PASSWORD
      POSTGRES_USER: ${DB_USERNAME} # Because the devs from Immich are annoying they won't let you change the variable name to IMMICH_DB_USERNAME
      POSTGRES_DB: ${DB_DATABASE_NAME} # Because the devs from Immich are annoying they won't let you change the variable name to IMMICH_DB_DATABASE_NAME
      # This is required for pgvecto-rs to work correctly with Immich
      POSTGRES_INITDB_ARGS: '--auth-host=scram-sha-256'
    volumes:
      - ./config/immich/postgres:/var/lib/postgresql/data
    restart: unless-stopped

  # # Infrastructure Services
  #
  # --- VPN ---
  tailscale:
    <<: *lsio-defaults # Use the reusable template
    image: tailscale/tailscale:${TAILSCALE_VERSION}
    container_name: tailscale
    hostname: glimby-server
    network_mode: host # Allows Tailscale to see all local ports
    environment:
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - .config/tailscale/data:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE

  # --- Nginx Proxy Manager: Traffic Controller ---
  npm:
    <<: *lsio-defaults # Use the reusable template
    image: jc21/nginx-proxy-manager:${NPM_VERSION}
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - '80:80'   # HTTP
      - '81:81'   # Admin UI
      - '443:443' # HTTPS
    volumes:
      - ./config/npm/data:/data
      - ./config/npm/letsencrypt:/etc/letsencrypt

  # --- Network-wide ad blocker ---
  pihole:
    container_name: pihole
    image: pihole/pihole:${PIHOLE_VERSION}
    ports:
      # Disable port 53 on the host if you are running another DNS server there
      # sudo systemctl stop systemd-resolved
      # sudo systemctl disable systemd-resolved.service
      # DNS Ports
      - "${SERVER_IP}:53:53/tcp"
      - "${SERVER_IP}:53:53/udp"
      # Default HTTP Port
      - "8082:80/tcp"
      # Default HTTPs Port. FTL will generate a self-signed certificate
      # - "443:443/tcp"
      # Uncomment the line below if you are using Pi-hole as your DHCP server
      #- "67:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
      #- "123:123/udp"
    environment:
      # Set the appropriate timezone for your location (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g:
      TZ: ${TIMEZONE}
      # Set a password to access the web interface. Not setting one will result in a random password being assigned
      FTLCONF_webserver_api_password: ${PIHOLE_WEBPASSWORD}
      # If using Docker's default `bridge` network setting the dns listening mode should be set to 'ALL'
      FTLCONF_dns_listeningMode: 'ALL'
      # Optional: Delay Pi-hole startup to wait for other services. Value is in seconds
      FTLCONF_misc_delay_startup: 10
    # Volumes store your data between container upgrades
    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - './config/etc-pihole:/etc/pihole'
      # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
      #- './etc-dnsmasq.d:/etc/dnsmasq.d'
    #cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      #- NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      #- SYS_TIME
      # Optional, if Pi-hole should get some more processing time
      #- SYS_NICE

  # # ARR Stack Services
  #
  # --- Indexer Manager ---
  prowlarr:
    <<: *lsio-defaults # Use the reusable template
    image: lscr.io/linuxserver/prowlarr:${PROWLARR_VERSION}
    container_name: prowlarr
    volumes:
      - ./config/prowlarr:/config
    ports:
      - 9696:9696

 # --- Download Client ---
  jellyfin:
    <<: *lsio-defaults # Use the reusable template
    image: lscr.io/linuxserver/jellyfin:${JELLYFIN_VERSION}
    container_name: jellyfin
    volumes:
      - ./config/jellyfin:/config
      - ${MEDIA_DIR}:/data
    devices:
      - /dev/dri:/dev/dri      # CRITICAL: This enables hardware acceleration for the CPU
    ports:
      - 8096:8096

# --- Search Provider ---
  jellyseerr:
    <<: *lsio-defaults # Use the reusable template
    image: fallenbagel/jellyseerr:${JELLYSEERR_VERSION}
    container_name: jellyseerr
    volumes:
      - ./config/jellyseerr:/app/config
    ports:
      - 5055:5055

# --- Movies Manager ---
  radarr:
    <<: *lsio-defaults # Use the reusable template
    image: lscr.io/linuxserver/radarr:${RADARR_VERSION}
    container_name: radarr
    volumes:
      - ./config/radarr:/config
      - ${MEDIA_DIR}:/data
    ports:
      - 7878:7878

# --- Shows Manager ---
  sonarr:
    <<: *lsio-defaults # Use the reusable template
    image: lscr.io/linuxserver/sonarr:${SONARR_VERSION}
    container_name: sonarr
    volumes:
      - ./config/sonarr:/config
      - ${MEDIA_DIR}:/data
    ports:
      - 8989:8989

# --- Search Aggregator ---
  huntarr:
    <<: *lsio-defaults # Use the reusable template
    image: ghcr.io/plexguide/huntarr:${HUNTARR_VERSION}
    container_name: huntarr
    ports:
      - 9705:9705
    volumes:
      - ./config/huntarr:/config
    # # Labels for Homepage Discovery
    # labels:
    #   - homepage.group=Arr Services
    #   - homepage.name=Huntarr
    #   - homepage.icon=huntarr.png
    #   - homepage.href=http://${SERVER_IP}:8000
    #   - homepage.description=Search Aggregator
    #   - homepage.server=my-docker
    #   - homepage.container=huntarr

# --- Quality Profile Manager ---
# https://dictionarry.dev/
  profilarr:
    <<: *lsio-defaults # Use the reusable template
    image: santiagosayshey/profilarr:${PROFILARR_VERSION} # or :beta
    container_name: profilarr
    ports:
      - "6868:6868"
    volumes:
      - /path/to/your/data:/config

# --- Subtitle Manager ---
  bazarr:
    <<: *lsio-defaults # Use the reusable template
    image: lscr.io/linuxserver/bazarr:${BAZARR_VERSION}
    container_name: bazarr
    volumes:
      - ./config/bazarr:/config
      - ${MEDIA_DIR}:/data
    ports:
      - 6767:6767

# --- Download Client ---
  nzbget:
    <<: *lsio-defaults # Use the reusable template
    image: lscr.io/linuxserver/nzbget:${NZBGET_VERSION}
    container_name: nzbget
    volumes:
      - ./config/nzbget:/config # Configuration files
      - ${MEDIA_DIR}:/data # The final media storage location
      - ./config/nzbget/intermediate:/scratch # The SSD (Fast) download folder for unpacking
    ports:
      - 6789:6789

# --- Ebook Manager ---
  calibre:
    <<: *lsio-defaults # Use the reusable template
    image: lscr.io/linuxserver/calibre:${CALIBRE_VERSION}
    container_name: calibre
    security_opt:
      - seccomp:unconfined #optional
    volumes:
      - /path/to/calibre/config:/config
      - ${MEDIA_DIR}/Epubs:/epubs
    ports:
      - 8880:8080
      - 8181:8181
      - 8881:8081
    shm_size: "1gb"
    restart: unless-stopped

  # # System Services
  #
  # --- System Monitoring ---
  glances:
      <<: *lsio-defaults # Use the reusable template
      image: nicolargo/glances:${GLANCES_VERSION}
      container_name: glances
      pid: host # Required to see host processes/temp
      ports:
        - 61208:61208
      environment:
        - GLANCES_OPT=-w
      volumes:
      - /:/host:ro  # Hiermee ziet Glances je hele systeem als '/host'
      - /var/run/docker.sock:/var/run/docker.sock:ro
      network_mode: host
      devices:
        - /dev/dri:/dev/dri

# --- Dashboard ---
  portainer:
    image: portainer/portainer-ce:${PORTAINER_VERSION}
    container_name: portainer
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/portainer:/data
    ports:
      - 9443:9443
      - 8000:8000

# # --- Watchtower: Auto-updates containers ---
#   watchtower:
#     <<: *lsio-defaults # Use the reusable template, ignores PUID/PGID
#     image: beatkind/watchtower
#     container_name: watchtower
#     environment:
#       - watchtower.monitor-only=true
#     volumes:
#       - /var/run/docker.sock:/var/run/docker.sock

  # --- Speedtest Tracker ---
  # Default username/password admin@example.com/password
  speedtest-tracker:
    <<: *lsio-defaults # Use the reusable template
    container_name: speedtest-tracker
    image: lscr.io/linuxserver/speedtest-tracker:${SPEEDTEST_VERSION}
    ports:
      - 8080:80
      - 8443:443
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - APP_KEY=${SPEEDTEST_APP_KEY}
      - APP_URL=http://${SERVER_IP}:8080
      - DB_CONNECTION=sqlite
      - SPEEDTEST_SCHEDULE=0 */6 * * * # Runs every 6 hours
      - DISPLAY_TIMEZONE=${TIMEZONE}
    volumes:
      - ./config/speedtest-config:/config

  # --- Arr Stack Dashboard ---
  homepage:
    <<: *lsio-defaults # Use the reusable template
    image: ghcr.io/gethomepage/homepage:${HOMEPAGE_VERSION}
    container_name: homepage
    ports:
      - 3000:3000
    volumes:
      - ./homepage-config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro # Allows it to show if containers are running
      - ${MEDIA_DIR}:/nas # Optional: Allows it to show disk usage of media drives
      - /sys/class/hwmon:/sys/class/hwmon:ro  # Optional: Allows it to show CPU temperature
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=${SERVER_IP}:3000
      - HOMEPAGE_VAR_JELLYFIN_KEY=${HOMEPAGE_VAR_JELLYFIN_KEY}
      - HOMEPAGE_VAR_JELLYSEERR_KEY=${HOMEPAGE_VAR_JELLYSEERR_KEY}
      - HOMEPAGE_VAR_RADARR_KEY=${HOMEPAGE_VAR_RADARR_KEY}
      - HOMEPAGE_VAR_SONARR_KEY=${HOMEPAGE_VAR_SONARR_KEY}
      - HOMEPAGE_VAR_BAZARR_KEY=${HOMEPAGE_VAR_BAZARR_KEY}
      - HOMEPAGE_VAR_NZBGET_USER=${HOMEPAGE_VAR_NZBGET_USER}
      - HOMEPAGE_VAR_NZBGET_PASS=${HOMEPAGE_VAR_NZBGET_PASS}
      - HOMEPAGE_VAR_NAS_USER=${HOMEPAGE_VAR_NAS_USER}
      - HOMEPAGE_VAR_NAS_PASS=${HOMEPAGE_VAR_NAS_PASS}
      - HOMEPAGE_VAR_PROWLARR_KEY=${HOMEPAGE_VAR_PROWLARR_KEY}
      - HOMEPAGE_VAR_SPEEDTEST_KEY=${HOMEPAGE_VAR_SPEEDTEST_KEY}
      - HOMEPAGE_VAR_PIHOLE_PASS=${HOMEPAGE_VAR_PIHOLE_PASS}
      - HOMEPAGE_VAR_NPM_USER=${HOMEPAGE_VAR_NPM_USER}
      - HOMEPAGE_VAR_NPM_PASS=${HOMEPAGE_VAR_NPM_PASS}
      - HOMEPAGE_VAR_IMMICH_KEY=${HOMEPAGE_VAR_IMMICH_KEY}

